* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 15px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid;
}

header h1 {
    padding-left: 15px;
    font-size: 40px;
    color: black;
}

header nav {
    margin: 0;
}

header nav ul {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    color: black;
    font-size: 1.6vw;
    align-items:center;
}

header nav ul li a:hover {
    color: #fff;
    background-color: #0077be;
    border-radius: 10px;
}

section {
    padding: 60px;
}
