* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:darkorange;
}
header {
    display: flex;
    padding: 15px 35px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color:darkorange;
}

header nav {
    margin: 0;
}

header nav ul {
    padding-top: 18px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 0 5px;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    color:white;
    font-size: 20px;
    align-items:center;
    font-weight: bold;
}

header nav ul li a:hover {
    color: darkslategray;
}

section {
    padding: 40px;
}


.about-me {
    display: flex;
    flex-wrap: wrap;
    width:50%;
    margin: 60px auto;
}

.about-me h1 {
    color: whitesmoke;
    font-size: 70px;
    padding-bottom: 20px;
    width: 100%;
}

.about-me div p {
    color: whitesmoke;
    font-size: 20px;
    align-items: left;
    width: 70%;
}

.work {
    width:50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    column-gap: 30px;
}

.flex-heading {
    flex: 0 100%;   
    font-size: 35px; 
    color: white;
}

.run-buddy {
    width: 600px;
    background-color: #39a6b2;
    margin-bottom: 30px;
    flex: 0 100%; 
    opacity: 0.8;
    border: 1px white solid;
}

.hover:hover {
    opacity: 1;
}

.run-buddy img {
    width:100% ; 
}

.project-info {
    padding: 7px;
    color: white;
}

.project-info h3 {
    font-size: 30px;
}

.run-buddy a {
    text-decoration: none;
}

.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

.contact-me h2 {
    padding: 20px;
    color: white;
    font-size: 38px;
}
.contact-me ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 15px;
}

.contact-me ul a {
    padding: 10px 15px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-left: 1px white solid;
}

@media screen and (max-width:980px) {
    .about-me div p {
        width: 100%;
    }
    .about-me, .work, .contact-me {
        width: 70%;
    }
}
 
/* @media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

} */