* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Copperplate, Copperplate Gothic Light, fantasy; */
}
body{
    background-color:darkorange;
}
header {
    display: flex;
    justify-content:space-between;
    padding: 15px 35px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color:darkorange;
}

header h1 {
    color: #eee;
}
header nav {
    margin: 0;
}

header nav ul {
    padding-top: 18px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 0 5px;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    color:#eee;
    font-size: 20px;
    align-items:center;
    font-weight: bold;
}

header nav ul li a:hover {
    color: darkslategray;
}

section {
    padding: 40px;
}


.about-me {
    display: flex;
    flex-wrap: wrap;
    width:50%;
    margin: 100px auto;
}

.about-me h1 {
    color: whitesmoke;
    font-size: 100px;
    padding-bottom: 20px;
    width: 100%;
}

.about-me div p {
    color: whitesmoke;
    font-size: 30px;
    align-items: left;
    width: 70%;
}

.work {
    width:50%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    column-gap: 30px;
}

.flex-heading {
    flex: 0 100%;   
    font-size: 35px; 
    color: white;
}

.run-buddy {
    width: 600px;
    background-color: #39a6b2;
    margin-bottom: 30px;
    flex: 0 100%; 
    border: 1px white solid;
    position: relative;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}

.hover:hover img {
    opacity: 1;
}

.run-buddy:hover .run-info {
    display:block;
}

.run-buddy img {
    width:100% ; 
    opacity: 0.8;
}

.end {
    width:500px;
    border: 1px white solid;
    position: relative;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.8);
}

.end img {
    width:100%;
    opacity: 0.8;
}

.end:hover .end-info {
    display:block;
}

.info {
    padding: 7px;
    color: white;
    position: absolute;
    bottom: 0;
    left:0;
    background-color: grey;
    width:100%;
    display:none;
}

.info h3 {
    font-size: 20px;
}

.run-buddy a {
    text-decoration: none;
}

.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    margin: 80px auto 0px auto;
}

.contact-me h2 {
    padding: 20px;
    color: white;
    font-size: 38px;
}
.contact-me ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 15px;
}

.contact-me ul a {
    padding: 10px 15px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-left: 1px white solid;
}

@media screen and (max-width:980px) {
    .about-me div p {
        width: 100%;
    }
    .about-me, .work, .contact-me {
        width: 70%;
    }
}
 
/* @media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

} */